{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}

{% oro_title_set({params : {"%project.name%": entity.names|localized_value} }) %}

{% block pageHeader %}
    {% set breadcrumbs = {
        'entity': entity,
        'indexPath': path('kiboko_dms_index'),
        'indexLabel': 'Documents'|trans,
        'entityTitle': entity.names|localized_value
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block content_data %}
    {% set dataBlocks = [
        {
            'title': 'Directories'|trans,
            'class': 'active',
            'subblocks': [{
                'data': [
                    dataGrid.renderGrid('kiboko-dms-document-nodes-grid', {parent: entity.id})
                ]},
            ]
        }, {
            'title': 'Documents'|trans,
            'class': 'active',
            'subblocks': [{
                'data': [
                    dataGrid.renderGrid('kiboko-dms-documents-grid', {parent: entity.id})
                ]},
            ]
        },
    ] %}
    {% set id = 'projectView' %}
    {% set data = {'dataBlocks': dataBlocks} %}
    {{ parent() }}
{% endblock content_data %}

{% block navButtons %}

    <div class="btn-group">
        {% if is_granted('kiboko_dms_document_upload') %}
            {{ UI.clientButton({
                'dataUrl': path('kiboko_dms_document_upload', {uuid: entity.id}),
                'aCss': 'no-hash',
                'iCss': 'fa-paperclip',
                'label': 'Upload a new file'|trans,
                'widget': {
                    'type': 'dialog',
                    'multiple': false,
                    'reload-grid-name': 'attachment-grid',
                    'options': {
                        'alias': 'attachment-dialog',
                        'dialogOptions' : {
                            'title': 'oro.attachment.action.add'|trans,
                            'allowMaximize': false,
                            'allowMinimize': false,
                            'modal': true,
                            'dblclick': 'maximize',
                            'maximizedHeightDecreaseBy': 'minimize-bar',
                            'width': 1000
                        }
                    }
                },
            }) }}
        {% endif %}
    </div>

    {% if is_granted('kiboko_dms_document_upload') and is_granted('kiboko_dms_node_create') %}
        {{ UI.buttonSeparator() }}
    {% endif %}

    <div class="btn-group">
        {% if is_granted('kiboko_dms_node_create') %}
            {{ UI.addButton({
                'path': path('kiboko_dms_node_create', { uuid: entity.id }),
                'entity_label': 'Folder'|trans,
            }) }}
        {% endif %}
    </div>

{% endblock %}

