{% form_theme form with ['OroFormBundle:Form:fields.html.twig', _self] %}

<div class="widget-content">
    <div class="form-container">
        <form id="{{ form.vars.id }}" name="{{ form.vars.name }}" action="{{ formAction }}" method="post">
            <fieldset class="form-horizontal">
                {{ form_rest(form) }}
                <div class="widget-actions form-actions" style="display: none;">
                    <button class="btn" type="reset">{{ 'kiboko.dam.views.asset_widget.cancel.label'|trans }}</button>
                    <button class="btn btn-primary" type="submit">{{ 'kiboko.dam.document.create_label'|trans }}</button>
                </div>
            </fieldset>
        </form>
        {{ oro_form_js_validation(form) }}
    </div>
</div>
